.banner{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 70px;
    height: calc(100vh + 100px);
    overflow: hidden;
    text-align: center;
    background: url(../img/head/bg.png) no-repeat center top;
    background-size: cover;
    &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 100px solid #fff;
        border-left: 100vw solid transparent;
    }
    &-slider{
        .slick-dots{
            margin-top: 80px;
        }
    }
}

header{
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    z-index: 99;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
    font-size:45px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}
.menu{
    list-style: none;
    display: flex;
    &__link{
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        &:hover{
            color: #0d0d0d;
        }
        
    }
    &__item{
        margin-left: 90px;
        position: relative;
        &:after{
            content: '\\\\';
            display: block;
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
            color: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            margin-left: 40px;
        }
        &:last-child:after{
            display: none;
        }
        
    }
}


