.main-container.second.lan-second header {
    background-color: #F7DA4B;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px solid #ff6d00;
}
.main-container.second.lan-second header p{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #333333;
}
.main-container.second.lan-second .home-sec .content-home .tv-title{
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 67px;
    color: #484448;
}
.main-container.second.lan-second .home-sec .content-home .tv-sub{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 12px;
    max-width: 440px;
}
.main-container.second.lan-second .home-sec .content-home .tv-sub-active{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    max-width: 440px;
}
.main-container.second.lan-second .home-sec .content-home .tv-sub-active.last{
    max-width: 300px;
}
.main-container.second.lan-second .home-sec .content-home .classic-btn {
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 0;
}
.main-container.second.lan-second .home-sec::after{
    background-image: url("../images/lan-2-home.svg");
    width: 356px;
    height: 356px;
    top: unset;
    left: calc(50% - 178px);
    bottom: -50px;
}

/* access 8 lang */
.main-container.second.lan-second .access-eight-lang{
    background: #E5E5E5;
    padding: 50px 0 63px 0;
}
.main-container.second.lan-second .access-eight-lang .get-main-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.main-container.second.lan-second .access-eight-lang .flag-cotainer{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.main-container.second.lan-second .access-eight-lang .flag-cotainer .flag-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 19px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;
}
.main-container.second.lan-second .access-eight-lang .flag-cotainer .flag-card > img{
    margin-bottom: 10px;
    width: 55px;
    height: 55px;
}
.main-container.second.lan-second .access-eight-lang .flag-cotainer .flag-card > p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 0;
}

/* step choose */
.main-container.second.lan-second .steps-choose{
    padding: 100px 0;
    background-color: #fff;
}
.main-container.second.lan-second .steps-choose .choose-main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #484448;
}
.main-container.second.lan-second .steps-choose .choose-sub-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #484448;
}
.main-container.second.lan-second .steps-choose .steps-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}
.main-container.second.lan-second .steps-choose .mt-cust{
    margin-top: 75px;
}
.main-container.second.lan-second .steps-choose .steps-content.active{
    padding-left: 0;
    padding-right: 80px;
}

/* as seen */
.main-container.second.lan-second .as-seen{
    height: auto;
    padding: 0 0 75px 0;
}
.main-container.second.lan-second .as-seen .main-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #333333;
    padding-top: 50px;
    margin-bottom: 41px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent{
    width: auto;
    margin-bottom: 0;
}

/* thousands hour */
.main-container.second.lan-second .thousand-hours{
    background: linear-gradient(180deg, #110B12 0%, #5E6070 100%);
}
.main-container.second.lan-second .thousand-hours .inner-sec .main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.main-container.second.lan-second .thousand-hours .inner-sec .sub-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 680px;
}
.main-container.second.lan-second .z-i-cust{
    position: relative;
    z-index: 1;
}
.main-container.second.lan-second .thousand-bg{
    margin-top: -40px;
}

/* designed for all levels */
.main-container.second.lan-second .designed-levels{
    background: #F0F0F0;
    padding-bottom: 76px;
}
.main-container.second.lan-second .designed-levels .inner-sec .main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #484448;
}
.main-container.second.lan-second .designed-levels .inner-sec .sub-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #484448;
    max-width: 700px;
}
.main-container.second.lan-second .designed-levels .stars-label{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #484448;
}
.main-container.second.lan-second .designed-levels .stars-span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #484448;
    margin-bottom: 12px;
}
.main-container.second.lan-second .designed-levels .inner-sec .main-p.active::after{
    background: #FF6D00;
}

/* best tv */
.main-container.second.lan-second .best-tv .channel-parent{
    align-items: flex-end;
    gap: 32px;
    justify-content: center;
}
.main-container.second.lan-second .best-tv .inner-sec .main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #484448;
}
.main-container.second.lan-second .best-tv .channel-parent img{
    margin-bottom: 21px;
}

/* vocab sec */
.main-container.second.lan-second .vocab-sec {
    background: linear-gradient(90deg, #D7505C 0%, #F58061 100%);
}
.main-container.second.lan-second .vocab-sec .inner-sec .main-p::after{
    background-color: #fff;
}
.main-container.second.lan-second .vocab-sec .inner-sec .main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.main-container.second.lan-second .vocab-sec::before, .main-container.second.lan-second .vocab-sec::after{
    content: unset;
}
.main-container.second.lan-second .vocab-sec .vocab-graph{
    margin-bottom: -100px;
}
.main-container.second.lan-second .tryal-access{
    padding: 47px 0 23px 0;
}
.main-container.second.lan-second .tryal-access .kids-sub-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    max-width: 843px;
    margin: 32px auto 73px;
    position: relative;
}
.main-container.second.lan-second .tryal-access .kids-sub-p::after {
    content: '';
    position: absolute;
    bottom: -30px;
    margin: auto;
    left: 0;
    right: 0;
    width: 100px;
    height: 3px;
    background: #fff;
}
.main-container.second.lan-second .tryal-access .inner-sec .second-tryal .classic-btn{
    background: #3B41CB;
    color: #fff;
}
.main-container.second.lan-second .tryal-access .inner-sec .second-tryal .classic-btn:hover{
    text-decoration: underline;
    outline: none;
}
.main-container.second.lan-second .tryal-access .try-content > img {
    width: 34px;
    height: 24px;
    margin-bottom: 12px;
    margin-top: 36px;
    margin-right: 0;
}
.main-container.second.lan-second .tryal-access .try-content{
    flex-direction: column;
}
.main-container.second.lan-second .tryal-access .try-content > span{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.main-container.second.lan-second .tryal-access .checks{
    justify-content: space-between;
    max-width: 842px;
    margin: auto;
}

.main-container.second.lan-second .star-rating .inner-sec .main-p{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #484448;
}
.main-container.second.lan-second .star-rating .stars-card{
    text-align: left;
    padding: 33px 13px;
}
.main-container.second.lan-second .star-rating .stars-card .main-rating{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #484448;
    margin: 34px 0 6px 0;
}
.main-container.second.lan-second .star-rating .stars-card .label-rating{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C4C4C4;
}
.main-container.second.lan-second .star-rating .stars-card .sub-rating{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #110B12;
    margin-bottom: 17px;
}
.main-container.second.lan-second .star-rating .stars-card .rate{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FF6D00;
}
.main-container.second.lan-second .stars-parent .stars-card{
    position: relative;
    max-width: 260px;
}
.main-container.second.lan-second .star-rating .stars-card .top-icons{
    position: absolute;
    top: -46px;
    left: -46px;
}
.main-container.second.lan-second .star-rating .stars-parent{
    gap: 60px;
    padding-top: 20px;
    justify-content: center;
}
.main-container.second.lan-second .star-rating{
    padding: 50px 0 98px;
}
.desktop-show{
    display: inline-block;
}
.mobile-show{
    display: none;
}
.main-container .as-seen .as-company{
    justify-content: center;
    gap: 60px;
}
.main-container.second.lan-second .designed-levels::before, .main-container.second.lan-second .designed-levels::after{
    content: unset;
}

.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(1) img{
    width: 99px;
    height: 29px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(2)  img{
    width: 101px;
    height: 39px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(3) img{
    width: 92px;
    height: 35px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(4) img{
    width: 63px;
    height: 24px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(5) img{
    width: 131px;
    height: 29px;
}
.main-container.second.lan-second .as-seen .as-company .img-parent:nth-of-type(6) img{
    width: 140px;
    height: 19px;
}
.main-container.second.lan-second .cust-w-stars{
    max-width: 810px;
    margin: 0 auto;
}
.main-container.second.lan-second .star-rating .stars-card .rate img{
    width: 100px;
    height: 19px;
}
.main-container.second.lan-second.another-version header{
    background-color: #FF6D00;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
}
.main-container.second.lan-second.another-version header p{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.main-container.second.lan-second.another-version .home-sec .content-home .tv-title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 70px;
    margin-bottom: 22px;
}
.main-container.second.lan-second.another-version .home-sec .content-home .tv-title::after {
    content: unset;
}
.main-container.second.lan-second.another-version .home-sec .content-home .tv-sub {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.main-container.second.lan-second.another-version .home-sec .content-home .classic-btn {
    margin-top: 50px;
    border-radius: 60px;
    margin-bottom: 0;
}




@media only screen and (max-width: 768px) {
    .main-container.second.lan-second .home-sec .content-home .tv-title{
        font-size: 36px;
        line-height: 43px;
        color: #3A1F86;
    }
    .main-container.second.lan-second .home-sec .content-home .classic-btn{
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        text-align: center;
        padding: 15px;
        width: 100%;
    }
    .main-container.second.lan-second.another-version .home-sec .content-home .classic-btn {
        width: auto;
    }
    .main-container.second.lan-second .access-eight-lang .flag-cotainer .flag-card{
        justify-content: flex-start;
        align-items: center;
        width: calc(100% / 2 - 10px);
        max-width: 100%;
        padding: 15px;
        flex-direction: row;
    }
    .main-container.second.lan-second .access-eight-lang .flag-cotainer .flag-card > img{
        margin-bottom: 0;
        margin-right: 12px;
        width: 43px;
        height: 43px;
    }
    .cust-order-1{
        order: 1;
    }
    .cust-order-2{
        order: 2;
    }
    .desktop-show{
        display: none;
    }
    .mobile-show{
        display: inline-block;
    }
    .main-container.second.lan-second .steps-choose .steps-content{
        padding: 0;
        text-align: center;
    }
    .main-container.second.lan-second .steps-choose .choose-main-p{
        margin-top: 43px;
    }
    .main-container.second.lan-second .steps-choose{
        padding: 10px 0 40px;
    }
    .main-container.second.lan-second .steps-choose .choose-sub-p{
        margin-bottom: 26px;
    }
    .main-container.second.lan-second .steps-choose .mt-cust{
        margin-top: 0;
    }
    .main-container.second.lan-second .steps-choose .steps-content.active{
        padding-right: 0;
    }
    .main-container .as-seen .as-company{
        justify-content: center;
        gap: 60px;
    }
    .main-container.second.lan-second .as-seen .as-company .img-parent{
        width: calc(100% / 3 - 5px);
    }
    .main-container.second.lan-second .thousand-hours{
        padding-bottom: 50px;
    }
    .main-container.second.lan-second .thousand-bg {
        margin-top: 52px;
    }
    .main-container.second.lan-second .best-tv .channel-parent .text-center{
        width: calc(100% / 3 - 5px);
        min-width: 120px;
    }
    .main-container.second.lan-second .best-tv .inner-sec .main-p{
        padding-top: 32px;
    }
    .main-container.second.lan-second .tryal-access .try-content > span{
        font-size: 18px;
        line-height: 21.6px;
    }
    .main-container.second.lan-second .tryal-access .try-content > img {
        width: 26px;
        height: 19px;
    }
}