/* urls ================================================= */

/* color ================================================= */

/* Container & Breackpoint ================================================= */

/* Fonts ================================================= */

/* ========================== mixin ======================= */

/* custom ================================================= */

/* addaptive ================================================= */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
main,
figcaption,
figure,
hgroup,
menu,
nav,
header,
footer,
section {
  display: block;
}

body {
  font-family: "Arial", Arial, Tahoma, sans-serif;
  line-height: 1em;
  font-weight: 400;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.eot");
  src: url("../fonts/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.eot");
  src: url("../fonts/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.eot");
  src: url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.eot");
  src: url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.eot");
  src: url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot");
  src: url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-LightBETA.eot");
  src: url("../fonts/Inter-LightBETA.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-LightBETA.woff") format("woff"), url("../fonts/Inter-LightBETA.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* container ================================================= */

.wrapper {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/*body ================================================= */

.body.locked {
  overflow: hidden;
}

/* Animations ================================================= */

/* Fade ================================================= */

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.txt1 {
  font-size: 1em;
}

.header {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.header .logo {
  margin: auto;
  width: 480px;
  height: 139px;
}

.header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.bgGry {
  background: #f2f2f2;
}

.txt60x73 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt50x60 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt50x54 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 109.02%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt40x48 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt30x45 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: -0.015em;
  color: #555555;
}

.txt30x36 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.txt25x32 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130.02%;
  /* or 33px */
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt22x24 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 109.02%;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

.txt20x24 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
}

.txt12x18 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #444444;
}

.txt10x16 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #444444;
}

.rub1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 150px;
  line-height: 182px;
  color: #52da00;
  width: 230px;
  height: 230px;
  border-radius: 120px;
  background: #23232f;
  border: 3px solid #52da00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cGry {
  color: #555555;
}

.w900 {
  font-weight: 900;
}

.w800 {
  font-weight: 800;
}

.w700 {
  font-weight: 700;
}

.w600 {
  font-weight: 600;
}

.w500 {
  font-weight: 500;
}

.w400 {
  font-weight: 400;
}

.w300 {
  font-weight: 300;
}

.bgGr {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  padding: 9px 16px;
  background: #52da00;
  border-radius: 14px;
}

.textUnder {
  text-decoration: underline;
}

.btnGreen {
  max-width: 895px;
  width: 90%;
  padding: 50px 20px;
  text-align: center;
  background: -o-linear-gradient(266.31deg, #52da00 3.23%, #5ab55d 103.9%, #028e07 103.9%);
  background: linear-gradient(183.69deg, #52da00 3.23%, #5ab55d 103.9%, #028e07 103.9%);
  border-radius: 80.5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #ffffff;
}

.head {
  position: relative;
  z-index: 1;
  margin-bottom: 45px;
  overflow: hidden;
  padding-top: 22px;
}

.head:before {
  content: "";
  z-index: -10;
  left: 0;
  right: 0;
  top: 0;
  height: 1045px;
  display: block;
  background: #f2f2f2;
  position: absolute;
}

.head .txt60x73 {
  text-align: center;
}

.head__oldPrice {
  padding: 17px;
  padding-left: 52px;
  padding-right: 73px;
  position: relative;
  background: #fffa82;
  width: 692px;
}

.head__oldPrice::after {
  content: "";
  display: block;
  height: 4px;
  width: 582px;
  -webkit-transform: translate(-50%, -50%) rotate(-5.57deg);
  -ms-transform: translate(-50%, -50%) rotate(-5.57deg);
  transform: translate(-50%, -50%) rotate(-5.57deg);
  background: #da0000;
  position: absolute;
  top: 50%;
  left: 50%;
}

.head__pricePromotion {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
}

.head__pricePromotion .rub1 {
  margin-left: 6px;
}

.head__rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head__img {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 778px;
  height: 737px;
}

.head__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.inputBox {
  max-width: 895px;
  width: 100%;
  display: block;
  position: relative;
}

.inputBox__icon {
  position: absolute;
  left: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
}

.inputBox__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.inputBox input {
  width: 100%;
  height: 89px;
  background: #ffffff;
  border: 3px solid #959595;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.015em;
  padding: 26px 83px;
}

.inputBox input::-webkit-input-placeholder {
  color: #a7a7a7;
}

.inputBox input::-moz-placeholder {
  color: #a7a7a7;
}

.inputBox input:-ms-input-placeholder {
  color: #a7a7a7;
}

.inputBox input::-ms-input-placeholder {
  color: #a7a7a7;
}

.inputBox input::placeholder {
  color: #a7a7a7;
}

.inputCheckBox {
  display: block;
  margin-bottom: 38px;
}

.inputCheckBox:last-child {
  margin-bottom: 0;
}

.inputCheckBox input {
  display: none;
}

.inputCheckBox input:checked ~ .inputCheckBox__box img {
  -webkit-transform: translate(10px, -5px);
  -ms-transform: translate(10px, -5px);
  transform: translate(10px, -5px);
}

.inputCheckBox__box {
  margin-right: 8px;
  width: 53px;
  height: 53px;
  border: 2px solid #555555;
  border-radius: 8px;
  display: inline-block;
}

.inputCheckBox__box img {
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  width: 53px;
  height: 53px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  -webkit-transform: translate(10px, -5px) scale(0);
  -ms-transform: translate(10px, -5px) scale(0);
  transform: translate(10px, -5px) scale(0);
}

.inputCheckBox__text a {
  text-decoration: underline;
  color: inherit;
}

.form .txt40x48 {
  text-align: center;
  margin-bottom: 10px;
}

.form .inputBox {
  margin: auto;
  margin-bottom: 26px;
}

.form .btnGreen {
  margin: auto;
  display: block;
}

.form__agree {
  margin-top: 129px;
  margin-left: auto;
  max-width: 982px;
  background: #f2f2f2;
  border-radius: 31px;
  padding: 40px 50px;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  max-width: 258px;
  margin: auto;
  margin-bottom: 38px;
  margin-top: 58px;
}

.circles__item {
  width: 131px;
  height: 131px;
  border: 5px solid #000000;
  border-radius: 62px;
  margin-left: -65px;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.circles__item:first-child {
  margin-left: 0;
}

.circles__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 102%;
  height: 102%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.circles__text {
  position: absolute;
  top: 50%;
  left: 100%;
  left: calc(100% + 23px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 223px;
}

.more {
  margin-bottom: 64px;
}

.more .changes {
  margin-top: 60px;
}

.changes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.changes__item {
  position: relative;
  margin-right: 40px;
  width: 24%;
  width: calc(25% - 30px);
  background: #f1f1f1;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 40px;
}

.changes__item:last-child {
  margin-right: 0;
}

.changes__img {
  overflow: hidden;
  width: 100%;
  height: 240px;
}

.changes__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.changes__times span {
  position: absolute;
  top: 10px;
}

.changes__times span:nth-child(1) {
  left: 4px;
}

.changes__times span:nth-child(2) {
  left: 50%;
  left: calc(50% + 4px);
}

.changes__top {
  padding-top: 6px;
  padding-left: 7px;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.changes__top .bgGr {
  background: #028e07;
  margin-left: auto;
}

.changes__avatar {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 47px;
  height: 47px;
  margin-right: 8px;
}

.changes__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.changes__cnt .txt20x24 {
  line-height: 1em;
}

.changes .txt12x18 {
  padding-left: 12px;
  padding-right: 12px;
}

.gram {
  padding-bottom: 96px;
  overflow: hidden;
}

.gram .wrapper:first-child {
  padding-top: 0;
}

.gram .wrapper:first-child .txt22x24 {
  margin-top: 12px;
}

.gram__wrapper {
  padding-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gram__img:first-child {
  margin-right: 68px;
}

.gram__cnt {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  max-width: 647px;
  width: 100%;
}

.gram__cnt p {
  text-align: start;
}

.gram__cnt .txt40x48 {
  margin-bottom: 12px;
}

.gram__cnt .txt25x32 {
  margin-bottom: 24px;
}

.gram__cnt .txt25x32:last-child {
  margin-bottom: 0;
}

.gram__cnt .checkedList {
  margin-right: 34px;
}

.gram--sec {
  padding-top: 64px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 191px;
}

.gram--sec:before {
  content: "";
  z-index: -10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 110px;
  display: block;
  background: #f2f2f2;
  position: absolute;
}

.gram--sec .btnGreen {
  margin: auto;
  margin-top: 64px;
  display: block;
}

.gram--sec .wrapper {
  max-width: 1120px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.checkedList {
  max-width: 580px;
  width: 100%;
}

.checkedList__item {
  padding-left: 62px;
  min-height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: start;
}

.checkedList__item:before {
  content: "";
  display: block;
  width: 51px;
  height: 51px;
  background: url("../img/check.png") center/cover no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  overflow: hidden;
  background: #d9d9d9;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-left: 67px;
  padding-right: 115px;
  padding-bottom: 40px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__left .logo {
  margin-left: -40px;
  margin-top: -10px;
  margin-bottom: 8px;
  mix-blend-mode: darken;
  border-radius: 12px;
}

.footer__nav {
  max-width: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__nav li {
  width: 50%;
  margin-bottom: 25px;
}

.footer__nav a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 156.52%;
  letter-spacing: -0.015em;
  color: #555555;
}

.footer__paymentText {
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__paymentText img {
  margin-left: 5px;
}

.footer__paymentMethods {
  padding: 20px 30px;
  background: #ffffff;
  border-radius: 21px;
}

.more {
  position: relative;
}

.headBg {
  position: absolute;
  z-index: 2;
  top: -18px;
  left: -12px;
  background: url("../img/avod1.png") center/cover no-repeat;
  width: 493px;
  height: 496px;
}

.headBg2 {
  position: absolute;
  z-index: 2;
  top: 1078px;
  left: 0px;
  background: url("../img/place.png") center/cover no-repeat;
  width: 573px;
  height: 928px;
}

.headBg3 {
  position: absolute;
  z-index: 2;
  top: 3542px;
  left: 0px;
  background: url("../img/avod3.png") center/cover no-repeat;
  width: 422px;
  height: 722px;
}

.moreBg {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0;
  background: url("../img/avod2.png") center/cover no-repeat;
  width: 314px;
  height: 544px;
}

/* ================================================= */

/* ================================================= */

@media screen and (min-width: 992px) {
  .header .logo {
    width: 24.2442vw;
    height: 7.0202vw;
  }

  .header {
    padding: 0.7575vw 1.5151vw;
  }

  .head {
    padding-top: 1.111vw;
    margin-bottom: 2.2727vw;
  }

  .head:before {
    height: 52.777vw;
  }

  .wrapper {
    max-width: 74.7474vw;
    padding-left: 1.5151vw;
    padding-right: 1.5151vw;
  }

  .txt60x73 {
    font-size: 3.0303vw;
    line-height: 1.25em;
  }

  .txt50x60 {
    font-size: 2.5252vw;
    line-height: 1.25em;
  }

  .txt50x54 {
    font-size: 2.5252vw;
  }

  .txt40x48 {
    font-size: 2.0202vw;
    line-height: 1.2em;
    color: #000000;
  }

  .txt30x45 {
    font-size: 1.5151vw;
  }

  .txt30x36 {
    font-size: 1.5151vw;
    line-height: 1.6em;
  }

  .txt25x32 {
    font-size: 1.2626vw;
  }

  .txt22x24 {
    font-size: 1.1111vw;
  }

  .txt20x24 {
    font-size: 1.0101vw;
    line-height: 2em;
  }

  .txt12x18 {
    font-size: 0.606vw;
    line-height: 1.25em;
  }

  .txt10x16 {
    font-size: 0.505vw;
    line-height: 1.6em;
  }

  .rub1 {
    font-size: 7.5757vw;
    line-height: 9.1919vw;
    width: 11.6161vw;
    height: 11.6161vw;
    border-radius: 6.0606vw;
    border: 0.1515vw solid #52da00;
  }

  .head__oldPrice {
    padding: 0.8585vw 3.6868vw 0.8585vw 2.6262vw;
    width: 34.9494vw;
  }

  .head__oldPrice::after {
    height: 0.202vw;
    width: 29.3939vw;
  }

  .head__pricePromotion {
    margin-top: 1.4141vw;
    padding-left: 0.808vw;
  }

  .head__pricePromotion .rub1 {
    margin-left: 0.303vw;
  }

  .head__img {
    width: 39.2929vw;
    height: 37.2222vw;
  }

  .form .txt40x48 {
    margin-bottom: 0.505vw;
  }

  .form .inputBox {
    margin: auto auto 1.3131vw;
  }

  .inputBox {
    max-width: 45.202vw;
  }

  .inputBox input {
    height: 4.4949vw;
    border: 0.1515vw solid #959595;
    border-radius: 0.505vw;
    font-size: 1.5151vw;
    line-height: 1.2em;
    padding: 1.3131vw 4.1919vw;
  }

  .inputBox__icon {
    left: 1.1616vw;
    width: 2.4242vw;
    height: 2.4242vw;
  }

  .btnGreen {
    max-width: 45.202vw;
    padding: 2.5252vw 1.0101vw;
    border-radius: 4.0404vw;
    font-size: 2.5252vw;
    line-height: 1.2em;
  }

  .form__agree {
    margin-top: 6.5151vw;
    max-width: 49.5959vw;
    border-radius: 1.5656vw;
    padding: 2.0202vw 2.5252vw;
  }

  .inputCheckBox {
    margin-bottom: 1.9191vw;
  }

  .inputCheckBox__box {
    margin-right: 0.404vw;
    width: 2.6767vw;
    height: 2.6767vw;
    border: 0.101vw solid #555;
    border-radius: 0.404vw;
  }

  .inputCheckBox__box img {
    width: 2.6767vw;
    height: 2.6767vw;
  }

  .inputCheckBox input:checked ~ .inputCheckBox__box img {
    -webkit-transform: translate(0.505vw, -0.2525vw);
    -ms-transform: translate(0.505vw, -0.2525vw);
    transform: translate(0.505vw, -0.2525vw);
  }

  .more {
    margin-bottom: 3.2323vw;
  }

  .circles {
    max-width: 13.0303vw;
    margin: 2.9292vw auto 1.9191vw;
  }

  .circles .changes {
    margin-top: 3.1313vw;
  }

  .circles__item {
    width: 6.6161vw;
    height: 6.6161vw;
    border: 0.2525vw solid #000;
    border-radius: 3.1313vw;
    margin-left: -3.2828vw;
  }

  .circles__text {
    left: calc(100% + 1.1616vw);
    width: 11.2626;
  }

  .changes__item {
    width: calc(25% - 1.5151vw);
    border-radius: 1.5151vw;
    padding-bottom: 1.5151vw;
    margin-right: 1.5151vw;
  }

  .changes__img {
    height: 12.1212vw;
  }

  .bgGr {
    font-size: 0.7575vw;
    padding: 0.4545vw 0.808vw;
    border-radius: 0.707vw;
  }

  .changes__times span {
    position: absolute;
    top: 0.505vw;
  }

  .changes__times span:nth-child(1) {
    left: 0.202vw;
  }

  .changes__times span:nth-child(2) {
    left: calc(50% + 0.202vw);
  }

  .changes__top {
    padding-top: 0.303vw;
    padding-left: 0.3535vw;
    padding-right: 0.909vw;
    margin-bottom: 0.7575vw;
  }

  .changes__avatar {
    width: 2.3737vw;
    height: 2.3737vw;
    margin-right: 0.404vw;
  }

  .changes .txt12x18 {
    padding-left: 0.606vw;
    padding-right: 0.606vw;
  }

  .gram {
    padding-bottom: 4.8484vw;
  }

  .gram .wrapper:first-child .txt22x24 {
    margin-top: 0.606vw;
  }

  .gram__wrapper {
    padding-top: 3.4848vw;
  }

  .gram__img:first-child {
    margin-right: 3.4343vw;
  }

  .gram__img {
    width: 17.7272vw;
    height: 21.4646vw;
  }

  .gram__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
  }

  .gram__cnt {
    max-width: 32.6767vw;
  }

  .gram__cnt .txt40x48 {
    margin-bottom: 0.606vw;
  }

  .gram__cnt .txt25x32 {
    margin-bottom: 1.2121vw;
  }

  .gram__cnt .txt25x32 {
    margin-bottom: 1.2121vw;
  }

  .gram__cnt .checkedList {
    margin-right: 1.7171vw;
  }

  .checkedList {
    max-width: 29.2929vw;
  }

  .gram__cnt .txt25x32 {
    margin-bottom: 1.2121vw;
  }

  .checkedList__item {
    padding-left: 3.1313vw;
    min-height: 3.333vw;
  }

  .checkedList__item:before {
    width: 2.5757vw;
    height: 2.5757vw;
  }

  .gram--sec {
    padding-top: 3.2323vw;
    margin-bottom: 0.6464vw;
  }

  .gram--sec .gram__img {
    width: 43.5858vw;
    height: 38.0808vw;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .gram--sec .btnGreen {
    margin: 3.2323vw auto auto;
  }

  .gram--sec .wrapper {
    max-width: 56.5656vw;
  }

  .gram--sec:before {
    bottom: 9.555vw;
  }

  .footer__wrapper {
    padding: 5.0505vw 5.808vw 2.0202vw 3.3838vw;
  }

  .footer__left .logo {
    margin-left: -2.0202vw;
    margin-top: -0.505vw;
    margin-bottom: 0.404vw;
    border-radius: 0.606vw;
  }

  .footer__left .logo img {
    width: 18.2828vw;
    height: 5.303vw;
  }

  .footer__nav {
    max-width: 24.8484vw;
  }

  .footer__nav li {
    margin-bottom: 0.8383vw;
  }

  .footer__nav a {
    font-size: 0.7575vw;
  }

  .footer__paymentText img {
    margin-left: 0.2525vw;
    width: 1.4141vw;
    height: 1.4141vw;
  }

  .footer__paymentMethods {
    padding: 1.0101vw 1.5151vw;
    border-radius: 1.0606vw;
  }

  .footer__paymentMethods img {
    width: 20.2525vw;
    height: 1.8181vw;
  }

  .headBg {
    top: -10.909vw;
    left: -0.606vw;
    width: 24.8989vw;
    height: 25.0505vw;
  }

  .headBg2 {
    top: 54.444vw;
    width: 28.9393vw;
    height: 46.8686vw;
  }

  .headBg3 {
    top: 148.888vw;
    width: 21.3131vw;
    height: 36.4646vw;
  }

  .moreBg {
    width: 15.8585vw;
    height: 27.4747vw;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .headBg {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    top: -201px;
    left: -182px;
  }

  .txt60x73 {
    font-size: 44px;
    line-height: 1em;
  }

  .head__rw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .head__left {
    margin-top: 20px;
  }

  .head__pricePromotion {
    padding-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .rub1 {
    width: 150px;
    height: 150px;
    font-size: 84px;
    line-height: 1em;
  }

  .headBg2 {
    opacity: 0.6;
    z-index: -1;
    -webkit-transform: scale(0.6) translateX(-50%);
    -ms-transform: scale(0.6) translateX(-50%);
    transform: scale(0.6) translateX(-50%);
  }

  .txt40x48 {
    font-size: 28px;
    line-height: 1.25em;
  }

  .inputBox {
    width: 80%;
  }

  .inputBox input {
    border: 1px solid #959595;
    padding: 12px 45px;
    height: auto;
    font-size: 25px;
    line-height: 1.33em;
  }

  .inputBox__icon {
    width: 28px;
    height: 28px;
    left: 12px;
  }

  .btnGreen {
    width: 80%;
    font-size: 32px;
    padding: 12px 16px;
  }

  .form__agree {
    margin-top: 38px;
    background: #f2f2f2b9;
    padding: 24px 27px;
  }

  .inputCheckBox__box {
    width: 35px;
    height: 35px;
  }

  .inputCheckBox__box img {
    width: inherit;
    height: inherit;
  }

  .txt30x45 {
    font-size: 22px;
  }

  .inputCheckBox {
    margin-bottom: 18px;
  }

  .moreBg {
    -webkit-transform: scale(0.6) translateX(50%);
    -ms-transform: scale(0.6) translateX(50%);
    transform: scale(0.6) translateX(50%);
    opacity: 0.7;
    z-index: -1;
  }

  .txt50x54 {
    font-size: 34px;
  }

  .circles__item {
    width: 90px;
    height: 90px;
    margin-left: -46px;
  }

  .circles {
    max-width: 182px;
  }

  .circles__text {
    left: calc(100% + 16px);
  }

  .txt25x32 br {
    display: none;
  }

  .changes {
    margin-top: 46px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .changes__item {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .changes__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .more {
    margin-bottom: 30px;
    overflow: hidden;
  }

  .headBg3 {
    -webkit-transform: translateX(-25%) scale(0.6);
    -ms-transform: translateX(-25%) scale(0.6);
    transform: translateX(-25%) scale(0.6);
    z-index: -1;
    opacity: 7;
  }

  .gram__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .gram__img {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .gram__img img {
    max-width: 100%;
  }

  .gram__img:first-child {
    margin-right: 0;
  }

  .gram__cnt p {
    text-align: center;
  }

  .gram--sec .gram__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__left .logo {
    margin-left: 0;
  }

  .footer__paymentText {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__payment {
    margin-bottom: 20px;
  }

  .footer__nav {
    text-align: center;
  }

  .footer__left .logo {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .headBg {
    z-index: -1;
    opacity: 0.7;
  }

  .header .logo {
    height: auto;
    width: auto;
    max-width: 80%;
  }

  .header .logo img {
    border-radius: 30px;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .txt60x73 {
    font-size: 26px;
  }

  .head__oldPrice {
    width: auto;
    text-align: center;
    padding: 10px 12px;
    border-radius: 6px;
  }

  .head__oldPrice:after {
    height: 2px;
    width: 90%;
  }

  .txt50x60 {
    font-size: 24px;
    line-height: 1.2em;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .rub1 {
    width: 90px;
    height: 90px;
    font-size: 46px;
  }

  .head__img {
    height: auto;
    width: 80%;
  }

  .head__img img {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .btnGreen {
    font-size: 24px;
    line-height: 1.333em;
  }

  .txt30x45 {
    font-size: 16px;
  }

  .inputCheckBox__box {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .txt50x54 {
    font-size: 25px;
  }

  .circles__item {
    border-width: 2px;
  }

  .circles__text {
    left: 50%;
    top: 100%;
    -webkit-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }

  .circles {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .txt25x32 {
    font-size: 20px;
    line-height: 1.2em;
  }

  .moreBg,
  .headBg2,
  .headBg3 {
    opacity: 0.3;
  }

  .footer__wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 42px;
    padding-bottom: 22px;
  }

  .footer__paymentMethods {
    max-width: 100%;
  }

  .footer__paymentMethods img {
    max-width: 100%;
  }

  .footer__nav li {
    width: 100%;
    margin-bottom: 14px;
  }

  .gram--sec {
    margin-bottom: 0;
    padding-bottom: 36px;
  }

  .gram--sec .btnGreen {
    margin-top: 22px;
  }

  .gram--sec:before {
    bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .headBg {
    display: none;
  }

  .txt60x73 {
    font-size: 20px;
  }

  .head__pricePromotion {
    margin-top: 4px;
  }

  .rub1 {
    margin-top: 0;
    width: 50px;
    height: 50px;
    font-size: 26px;
    border-width: 2px;
  }

  .head__left {
    margin-bottom: 20px;
  }

  .inputBox input {
    font-size: 16px;
    padding-left: 38px;
  }

  .inputBox__icon {
    width: 22px;
    height: 22px;
    left: 8px;
  }

  .btnGreen {
    font-size: 18px;
  }

  .form__agree {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 16px;
  }

  .head {
    margin-bottom: 22px;
  }

  .txt50x54 {
    font-size: 24px;
  }

  .txt50x54 br {
    display: none;
  }

  .txt22x24 {
    font-size: 18px;
  }

  .txt22x24 br {
    display: none;
  }

  .txt40x48 {
    font-size: 22px;
  }

  .txt25x32 {
    font-size: 18px;
  }

  .gram__cnt .txt25x32 {
    margin-bottom: 16px;
  }

  .txt25x32 {
    font-size: 15px;
  }

  .checkedList__item {
    padding-left: 48px;
    min-height: 36px;
    margin-bottom: 8px;
  }

  .checkedList__item:before {
    width: 36px;
    height: 36px;
  }

  .gram {
    padding-bottom: 32px;
  }

  .gram__img {
    max-width: 90%;
  }

  .footer__left .txt20x24 {
    font-size: 16px;
  }

  .footer__left .logo {
    max-width: 60%;
    margin: auto;
  }

  .footer__left .logo img {
    max-width: 100%;
  }
}