@font-face {
  font-family: 'idealista-icons';
  src: url('fonts/idealista-icons/idealista-icons.eot') format('embedded-opentype'), 
  url('fonts/idealista-icons/idealista-icons.woff') format('woff'), 
  url('fonts/idealista-icons/idealista-icons.ttf') format('truetype'), 
  url('fonts/idealista-icons/idealista-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
*::before,
*::after {
  box-sizing: inherit;
  font-family: "idealista-icons";
}
.icon-idealista-icon:before {
  content: "\e710";
}