
	// Made up this site Pagas15 or Anton Klymko
	// My site - https://pagas15.github.io/
	// Customer is honest



.inside{
	width: 100%;
	min-height: 100%;
    background: linear-gradient(180deg, #04020F 0%, #0B325F 79.17%, #27288F 100%) no-repeat;
    background-size: 100%;
    padding-bottom: 215px;
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        background: url(../img/bgFront.png) bottom no-repeat;
        background-size: 100%;
    }
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 0%, rgba(2, 15, 52, 0.658) 100%),
                    url(../img/skyStars.png) center top no-repeat;
        background-size: 100%, auto;
    }
}
.wrapper{
    position: static;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    padding-top: 82px;
}
.map{
    flex: none;
	width: 448px;
	height: 633px;
	background: url(../img/mapMetro.png) no-repeat;
	background-size: 100%;
    position: relative;
    &__small-star{
        position: absolute;
        width: 7px;
        height: 7px;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            box-shadow: 0px 0px 2px 1.5px #FFFFFF;
            border-radius: 50%;
            transition: 0.3s;
        }
    }
    &__big-star{
        position: absolute;
        z-index: 9;
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 6px;
            left: 5px;
            box-shadow: 0px 0px 4px 2px #FFFFFF;
            border-radius: 50%;
            transition: 0.3s;
            z-index: 12;
        }
    }
    .shadow{
        &:after{
            box-shadow: 0px 0px 10px 5px #FFFFFF;
        }
    }
}
.list-address{
    margin-left: 45px;
    z-index: 7;
    max-width: 830px;
}
.address-text{
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.9em;

    letter-spacing: -0.015em;
    color: #FFFFFF;

    transition: 0.25s;
}
.classOpasity05{
    opacity: 0.4;
}
.classOpasity07{
    opacity: 0.7;
}
.classOpasity1{
    opacity: 1;
}
.address-bold{
    font-weight: normal;
}
.address-header{
    padding-bottom: 30px;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1.9em;

    letter-spacing: -0.015em;
    color: #FFFFFF;
}
.kalyan{
    margin-top: 46px;
    width: 364px;
    height: 138px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.satellite{
    position: absolute;
    width: 136px;
    height: 95px;
    left: 91px;
    top: 122px;
    z-index: 8;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.moon{
    position: absolute;
    width: 236px;
    height: 241px;
    right: 76px;
    top: 49px;
    z-index: 9;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.kalyan1{
    display: none;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
}
#small-star{
    &1{
        left: 195px;
        top: -3px;
    }
    &2{
        left: 175px;
        top: 72px;
    }
    &3{
        left: 169px;
        top: 124px;
    }
    &4{
        left: 164px;
        top: 261px;
    }
    &5{
        left: 148px;
        top: 210px;
    }
    &6{
        left: 173px;
        top: 288px;
    }
    &7{
        left: 188px;
        top: 345px;
    }
    &8{
        left: 169px;
        top: 345px;
    }
    &9{
        left: 133px;
        top: 299px;
    }
    &10{
        left: 136px;
        top: 276px;
    }
    &11{
        left: 93px;
        top: 246px;
    }
    &12{
        left: 92px;
        top: 151px;
    }
    &13{
        left: 19px;
        top: 200px;
    }
    &14{
        left: 24px;
        top: 240px;
    }
    &15{
        left: 122px;
        top: 324px;
    }
    &16{
        left: 228px;
        top: 317px;
    }
    &17{
        left: 228px;
        top: 355px;
    }
    &18{
        left: 211px;
        top: 365px;
    }
    &19{
        left: 222px;
        top: 283px;
    }
    &20{
        left: 222px;
        top: 381px;
    }
    &21{
        left: 211px;
        top: 252px;
    }
    &22{
        left: 206px;
        top: 210px;
    }
    &23{
        left: 236px;
        top: 172px;
    }
    &24{
        left: 243px;
        top: 145px;
    }
    &25{
        left: 337px;
        top: 35px;
    }
    &26{
        left: 194px;
        top: 380px;
    }
    &27{
        left: 264px;
        top: 374px;
    }
    &28{
        left: 299px;
        top: 359px;
    }
    &29{
        left: 338px;
        top: 351px;
    }
    &30{
        left: 396px;
        top: 417px;
    }
    &31{
        left: 315px;
        top: 445px;
    }
    &32{
        left: 340px;
        top: 499px;
    }
    &33{
        left: 379px;
        top: 531px;
    }
    &34{
        left: 362px;
        top: 576px;
    }
    &35{
        left: 239px;
        top: 478px;
    }
    &36{
        left: 226px;
        top: 447px;
    }
    &37{
        left: 217px;
        top: 399px;
    }
    &38{
        left: 173px;
        top: 396px;
    }
    &39{
        left: 171px;
        top: 418px;
    }
    &40{
        left: 172px;
        top: 449px;
    }
    &41{
        left: 179px;
        top: 574px;
    }
    &42{
        left: 177px;
        top: 527px;
    }
    &43{
        left: 174px;
        top: 493px;
    }
    &44{
        left: 214px;
        top: 617px;
    }
    &45{
        left: 113px;
        top: 436px;
    }
    &46{
        left: 149px;
        top: 418px;
    }
    &47{
        left: 97px;
        top: 491px;
    }
    &48{
        left: 96px;
        top: 528px;
    }
    &49{
        left: 106px;
        top: 572px;
    }
}
#big-star{
    &1{
        left: 140px;
        top: 161px;
    }
    &2{
        left: 188px;
        top: 29px;
    }
    &3{
        left: 86px;
        top: 193px;
    }
    &4{
        left: 57px;
        top: 305px;
    }
    &5{
        left: 170px;
        top: 365px;
    }
    &6{
        left: 303px;
        top: 71px;
    }
    &7{
        left: 275px;
        top: 131px;
    }
    &8{
        left: 371px;
        top: 380px;
    }
    &9{
        left: 417px;
        top: 617px;
    }
    &10{
        left: 250px;
        top: 626px;
    }
    &11{
        left: 254px;
        top: 514px;
    }
    &12{
        left: 81px;
        top: 591px;
    }
    &13{
        left: 368px;
        top: 347px;
    }
    &14{
        left: 237px;
        top: -10px;
    }
    &15{
        left: 74px;
        top: 537px;
    }
}

@media(max-width: 1799px){
    .inside{
        &:before{
            background: url(../img/bgFront.png) left -120px bottom no-repeat;
            background-size: 120%;
        }
    }
    .wrapper{
        padding-top: 44px;
    }
    .map{
        zoom: .9;
    }
}
@media(max-width: 1599px){
    .moon{
        right: 15px;
    }
    .satellite{
        top: 60px;
    }
}
@media(max-width: 1499px){
    .moon{
        top: auto;
        bottom: 260px;
    }
}
@media(max-width: 1399px){
    .list-address{
        margin-left: 10px;
    }
    .wrapper{
        padding-top: 32px;
        padding-right: 20px;
    }
    .kalyan{
        margin-top: 22px;
    }
    .address-header{
        padding-bottom: 20px;
    }
    .address-text{
        font-size: 15px;
    }
    .satellite{
        left: 25px;
    }
    .map{
        margin-top: 70px;
        zoom: .8;
    }
    .inside{
        padding-bottom: 215px;
    }
}

@media(max-width: 1199px){
    .kalyan{
        margin-top: 10px;
    }
    .address-header{
        padding-bottom: 10px;
    }
    .address-text{
        line-height: 1.5em;
    }
    .list-address{
        margin-left: 0;
    }
    .inside{
        padding-bottom: 185px;
        &:before{
            background: url(../img/bgFront.png) bottom no-repeat;
            background-size: 120%;
        }
    }
    .moon{
        top: auto;
        bottom: 185px;
        right: 15px;
    }
}
@media(max-width: 1092px){
    .wrapper{
        padding: 0 60px;
        padding-top: 16px;
    }
    .map{
        display: none;
    }
    .kalyan{
        margin-left: auto;
    }
    .moon{
        position: static;
        width: 177px;
        height: 177px;
        margin-left: auto;
        margin-right: 43px;
        margin-top: 30px;
    }
    .kalyan2{
        width: 347px;
        height: 128px;
        margin-top: 25px;
    }
    .kalyan1{
        display: block;
    }
    .inside{
        padding-bottom: 260px;
        &:before{
            background: url(../img/bgFront.png) bottom left no-repeat;
            background-size: 210%;
        }
    }
    .satellite{
        top: 20px;
    }
    
}
@media(max-width: 992px){
    .inside{
        padding-bottom: 260px;
        &:before{
            background: url(../img/bgFront.png) bottom left no-repeat;
            background-size: 230%;
        }
    }
}
@media (max-width: 767px){
    .kalyan1{
        width: 297px;
        height: 112px;
    }
    .kalyan2{
        width: 277px;
        height: 102px;
        margin-right: 80px;
    }
    .wrapper{
        padding: 0 40px;
    }
    .address-text{
        font-size: 16px;
    }
    .moon{
        width: 156px;
        height: 156px;
        margin-right: 100px;
        margin-top: 25px;
    }
    .satellite{
        z-index: 0;
        top: 200px;
        right: 40px;
    }
    .inside{
        padding-bottom: 228px;
        &:before{
            background: url(../img/bgFront.png) bottom left -50px no-repeat;
            background-size: 250%;
        }
    }
}


@media (max-width: 600px){
    .inside{
        padding-bottom: 204px;
        &:before{
            background-size: 300%;
        }
    }
    .kalyan2{
        margin-right: 10px;
        width: 224px;
        height: 81px;
        margin-top: 40px;
    }
    .moon{
        margin-right: 10px;
        margin-top: 48px;
        width: 117px;
        height: 117px;
    }
}
@media (max-width: 479px){
    .wrapper{
        padding: 0 30px;
    }
    .kalyan1{
        max-width: 297px;
        max-height: 112px;
    }
    .kalyan2{
        width: 200px;
        height: 76px;
        margin-right: 5px;
        margin-top: 10px;
    }
    .moon{
        width: 101px;
        height: 101px;
        margin-right: 5px;
        margin-top: 16px;
    }
    .inside{
        padding-bottom: 100px;
        &:before{
            background: url(../img/bgFront.png) bottom left -20px no-repeat;
            background-size: 210%;
        }
    }
    .address-text{
        font-size: 11px;
    }
    .satellite{
        width: 66px;
        height: 46px;
        left: 220px;
        top: 317px;
    }
}
@media (max-width: 364px){
    .inside{
        &:before{
            background: url(../img/bgFront.png) bottom left -50px no-repeat;
            background-size: 260%;
        }
        padding-bottom: 110px;
    }
    .kalyan2{
        width: 166px;
        height: 61px;
        margin-top: 10px;
    }
    .moon{
        width: 88px;
        height: 88px;
        margin-top: 10px;
    }
}