
.headbox{
    background-image: url(../img/bghead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;

    height: 100vh;
    display: flex;
    align-items: center;

    &-wrap{
        max-width: 850px;
        margin: auto;
        padding: 20px;
        text-align: center;
        // nav{
        //     margin-top: 20px;
        // }
        h1{
            font-size: 90px;
        }
        &__text{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
            margin-top: 18px;
            color: #eeeeee;
            &--link{
                color: #eeeeee;
                text-decoration: none;
            }
        }
    }
}

/* nav ================================================= */

.footer{
    [tooltip]{
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
}
[tooltip]{
    position: relative;
    display: inline-block;
    &:hover{
        &:after{
            opacity: 1!important;
        }
        &:before{
            opacity: 1!important;
        }
    }
    &:focus{
        &:after{
            content: "Успешно скопировано";
        }
    }
    &:before{
        content: "";
        position: absolute;
        top: 130%;
        left: 50%;
        border-width: 10px 10px 0 10px;
        border-style: solid;
        z-index: 99;
        opacity: 0;
        border-color: #fafafa transparent transparent;
        transform: translateX(-50%) translatey(0%) rotate(-180deg);
        transition: opacity .3s;
    }
    &:after{
        content: attr(tooltip);
        position: absolute;
        min-width: 200px;
        left: 50%;
        top: 130%;
        background-color: #fafafa;
        text-align: center;
        color: #333333;
        padding: 15px;
        font-size: 14px!important;
        font-size: 1.4rem;
        min-width: 233px;
        border-radius: 3px;
        pointer-events: none;
        z-index: 98;
        opacity: 0;
        margin-top: 10px;
        transform: translateX(-50%) translateY(0%);
        text-rendering: optimizeLegibility;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        text-indent: 0;
        line-height: 1.4em;
        text-transform: none;
        transition: opacity .3s;
    }
}
nav{
    display: block;
    margin-top: 20px;
	li{
		display: inline-block;
        margin-right: 12px;
        font-size: 26px;
        a{
            color: #fff;
            transition: 0.5s;
            &:hover{
                opacity: 0.6;
            }
        }
    }
    .social{
        li{
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

/* Theme ================================================= */

.theme1{
    background: rgb(19 , 19 , 23);
    & .wrapper{
        background: rgb(32, 32, 39);
        padding: 90px 0;
        padding-top: 60px;
    }

}

/* project ================================================= */

.project{
    
    &-wrap{
        h3{
            padding-bottom: 40px;
            color: rgb(0, 164, 185);
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        &__item{
            display: flex;
            height:auto;
            padding: 50px 0;
            position: relative;
            &:after{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                height: 2px;
                width: 98%;
                background: rgb(19 , 19 , 23);
            }
            &:last-child{
                margin-bottom: 0;
                &:after{
                    display: none;
                }
            }
        }
        &__img-box{
            max-width: 480px;
            max-height: 320px;
            position: relative;
            transition: 0.5s;
            flex: none;
            a{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &__img{
            width: 100%;
            height: 100%;
            transition: 2s;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__text-box{
            padding: 20px 30px;
            width: 100%;
            max-width: 380px;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__center-text{
            margin-top: 20px;
            color: #eeeeee;
            font-size: 17px;
            line-height: 23px;
        }
        &__date{
            margin-top: 20px;
            color: #eeeeee;
            font-size: 17px;
            line-height: 23px;
        }
    }
}
.btn-view{
    margin-top: 10px;
    display: block;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid rgb(0, 164, 185);
    border-radius: 3px;
    color: #eeeeee;
    font-size: 17px;
    transition: 0.3s;
    &:hover{
        background-color: rgb(0, 164, 185);
    }
    &:focus{
        opacity: 0.8;
    }
}

/* services ================================================= */

.services{
    background-image: url(../img/bgservices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    display: flex;
    align-items: center;
    h3{
        margin-bottom: 40px;
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        &__item{
            // margin-top: 30px;
            // border: 1px solid #ffffff;
            // width: 400px;
            // padding: 30px 20px;
            // background-color: rgba(248, 248, 248, 0.884);
            h4{
                // text-align: center;
                // font-size: 20px;
                // color: #070707;
            }
            p{
                // margin-top: 20px;
                // color: #070707;
                // font-size: 17px;
                // line-height: 23px;
            }
        }
    }
    &-wrap{
        padding: 40px 0;
    }
}

.cart{
    font-family: consolas;
    position: relative;
    margin: 0;
    width: 300px;
    &:hover{
        .cart__face1 .cart__content{
            opacity: 1;
        }
        .cart__face.cart__face1{
            background: #ff0057;
            transform: translateY(0);
        }
        .cart__face.cart__face2{
            transform: translateY(0);
        }
        .cart__icon--animation{
            animation: icon-animation-hover 2s infinite ease-in-out;
        }
    }

    &__icon{
        &--animation{
            width: 50px;
            height: 50px;
            margin: auto;
            background: #fff;
            animation: icon-animation 2s infinite ease-in-out;
            transition: 0.6s;
        }
        font-size: 60px;
    }
    &__face{
        width: inherit;
        height: 180px;
        transition: 0.5s;
        text-align: start;
        &.cart__face{
            &1{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background: #333;
                z-index: 1;
                color: #fff;
                transform: translateY(90px);
                h3{
                    font-size: 28px;
                    margin: 10px 0 0;
                    color: #fff;
                }
                .cart__content{
                    opacity: 0.4;
                    transition: 0.5s;
                }
            }
            &2{
                height: 150px;
                position: relative;
                background: #fff;
                display: flex;
                justify-self: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box; 
                box-shadow: 0 20px 50px rgba(0,0,0,0.8);  
                transform: translateY(-70px); 
                p{
                    font-size: 16px;
                }
            }
        }
    }
    &__content{

    }
}

@keyframes icon-animation{
    from, to{
        border-radius: 50%;
        transform: translate(-45px);
    }
    50%{
        
        border-radius: 0%;
        transform: translate(45px);
    }
}

@keyframes icon-animation-hover{
    from, to{
        margin-top: -0px;
    }
    50%{
        margin-top: -20px;
        width: 70px;
        height: 70px;
    }
}



/* Fotter ================================================= */

.footer{
    & .wrapper{
        padding-bottom: 60px;
    }
    &-wrap{
        text-align: center;
    }
    &-contacts{
        a{
            font-size: 16px;
        }
    }
}




@media(max-width:992px){
    .project-wrap__text-box{
        flex: 1;
    }
    .headbox{
        &-wrap{
            h1{
                font-size: 70px;
            }
        }
    }
    .project{
        &-wrap{
            &__item{
                display: block;
            }
            &__img-box{
                margin: auto;
            }
            &__text-box{
                margin: auto;
                width: 100%;
                max-width: 528px;
                text-align: center;
            }
        }
    }
        
    .services{
        &-list{
            margin-top: 60px;
            // display: block;
            &__item{
                margin-top: -40px;
                // margin: auto;
                // margin-top: 30px;
                // text-align: center;
            }
        }
    }
    .btn-view{
        margin: auto;
        margin-top: 20px;
        width: 100%;
        max-width: 374px;
    }
}

@media(max-width: 767px){
    
    
    .headbox{
        &-wrap{
            padding: 10px;
            h1{
                font-size: 50px;
            }
        }
    }
    .project{
        &-wrap{
            h3{
                padding-bottom: 0;
            }
            &__item{
            display: block;
            }
            &__img-box{
                margin: auto;
            }
        }
    }
    .cart{
        border-radius: 10px;
        overflow: hidden;
        &__icon{
            font-size: 45px;
        }
        &__face{
            &.cart__face1{
                transform: translate(0);
                height: auto;
                padding: 20px;
                h3{
                    font-size: 23px;
                    margin: 8px 0 0;
                }
            }
            &.cart__face2 {
                transform: translate(0);
                height: 120px;
            }
        }
    }
    .services{

        &-list{
            margin-top: 20px;
            &__item{
                margin-top: 10px;
            }
        }
    }
}

@media(max-width: 589px){
    .wrapper{
        padding: 0 15px;
    }
    .headbox{
        &-wrap{
            padding: 10px;
            h1{
                font-size: 40px;
            }
            &__text{
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
    }
    .social{
        margin-top: 15px;
        &__link{
            margin-right: 11px;
            font-size: 22px;
            transition: 0.5s;
        }
    }

}

@media(max-width: 479px){
    .headbox{
        &-wrap{
            h1{
                font-size: 25px;
            }
            &__text{
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
    }
    .project-wrap{
        h3{
            font-size: 36px;
        }
        h2{
            font-size: 16px;
            line-height: 16px;
        }
        &__item{
            padding: 25px 0;
        }
        &__img-box{
            min-width: 0;
            width: 100%;
            padding: 0 5px;
        }
        &__center-text{
            font-size: 14px;
            line-height: 16px;
        }
        &__date{
            font-size: 14px;
            line-height: 16px;
        }
    }
    .services{

        &-list{
            margin-top: 20px;
            &__item{
                margin-top: 10px;
                width: 100%;
            }
        }
    }
    .cart{
        border-radius: 10px;
        overflow: hidden;
        &__icon{
            font-size: 45px;
        }
        &__face{
            &.cart__face1{
                transform: translate(0);
                height: auto;
                padding: 20px;
                h3{
                    font-size: 23px;
                    margin: 8px 0 0;
                }
            }
            &.cart__face2 {
                transform: translate(0);
                height: auto;
            }
        }
    }
}