
/* project ================================================= */

.project{
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
    &-wrap{
        padding-top: 200px;
        padding-bottom: 200px;
        &__item{
            background-color: rgba(83, 28, 145, 0.137);
            display: flex;
            height: 178px;
            margin-bottom: 30px;
            &:hover{
                .project-wrap__img{
                    transform: scale(1.2);
                }
                
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__img-box{
            width: 380px;
            height: 100%;
            position: relative;
            overflow: hidden;
            transition: 0.5s;
            a{
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &__img{
            width: 100%;
            height: 100%;
            transition: 10s;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__text-box{
            padding: 20px 30px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__date{
            color: #ffffff;
        }
    }
}