/* urls ================================================= */

/* color ================================================= */

/* Container & Breackpoint ================================================= */

/* Fonts ================================================= */

/* ========================== mixin ======================= */

/* custom ================================================= */

/* addaptive ================================================= */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
main,
figcaption,
figure,
hgroup,
menu,
nav,
header,
footer,
section {
  display: block;
}

body {
  font-family: "Arial", Arial, Tahoma, sans-serif;
  line-height: 1em;
  font-weight: 400;
}

input::-ms-clear {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Medium.eot");
  src: url("../fonts/JetBrainsMono-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/JetBrainsMono-Medium.woff") format("woff"), url("../fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrainsMono-Regular.eot");
  src: url("../fonts/JetBrainsMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/JetBrainsMono-Regular.woff") format("woff"), url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.eot");
  src: url("../fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Regular.woff") format("woff"), url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* container ================================================= */

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  max-width: 1340px;
  padding-left: 30px;
  padding-right: 30px;
}

/*body ================================================= */

.body.locked {
  overflow: hidden;
}

/* Animations ================================================= */

/* Fade ================================================= */

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.txt1 {
  font-size: 1em;
}

.txt22x33 {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #a9b2bc;
}

.btnGame {
  display: block;
  position: relative;
  text-align: center;
  border: 1px solid #ffd480;
  border-radius: 3px;
  z-index: 1;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffd37e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  padding: 4px 22px;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.btnGame::before {
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  content: "";
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 64, 170, 0.5)), to(rgba(5, 24, 59, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 64, 170, 0.5) 0%, rgba(5, 24, 59, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 64, 170, 0.5) 0%, rgba(5, 24, 59, 0.5) 100%);
  border-radius: 3px;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}

.btnGame:hover:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 64, 170, 0.5)), to(rgba(128, 215, 255, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 64, 170, 0.5) 0%, rgba(128, 215, 255, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 64, 170, 0.5) 0%, rgba(128, 215, 255, 0.5) 100%);
}

.btnGame:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 21;
}

.header::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 17, 50, 0.5)), to(rgba(1, 17, 50, 0.5))), -webkit-gradient(linear, left top, left bottom, color-stop(-3.19%, #abc0e2), color-stop(5.51%, #3e4a5d), color-stop(20.74%, #3c485a), color-stop(28.36%, #384456), color-stop(53.38%, #2b3646), color-stop(84.94%, #2b3646), color-stop(104.52%, #3c495b));
  background: -o-linear-gradient(bottom, rgba(1, 17, 50, 0.5), rgba(1, 17, 50, 0.5)), -o-linear-gradient(top, #abc0e2 -3.19%, #3e4a5d 5.51%, #3c485a 20.74%, #384456 28.36%, #2b3646 53.38%, #2b3646 84.94%, #3c495b 104.52%);
  background: linear-gradient(0deg, rgba(1, 17, 50, 0.5), rgba(1, 17, 50, 0.5)), linear-gradient(180deg, #abc0e2 -3.19%, #3e4a5d 5.51%, #3c485a 20.74%, #384456 28.36%, #2b3646 53.38%, #2b3646 84.94%, #3c495b 104.52%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header__cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.header__cnt .logo {
  margin-bottom: -22px;
}

.header.active .header__btn span:nth-child(1) {
  top: 50%;
  -webkit-transform: translate(-50%) rotate(-45deg);
  -ms-transform: translate(-50%) rotate(-45deg);
  transform: translate(-50%) rotate(-45deg);
}

.header.active .header__btn span:nth-child(2) {
  top: 50%;
  opacity: 0;
}

.header.active .header__btn span:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
}

.header__btn {
  display: block;
  width: 32px;
  height: 24px;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 501;
}

.header__btn span {
  display: block;
  height: 3px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  left: 50%;
  border-radius: 3px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.header__btn span:nth-child(1) {
  top: 1.5px;
}

.header__btn span:nth-child(2) {
  top: 50%;
}

.header__btn span:nth-child(3) {
  top: 100%;
  top: calc(100% - 1.5px);
}

.logo {
  width: 188px;
  height: 133px;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navBar__item {
  margin-right: 40px;
}

.navBar__item:last-child {
  margin-bottom: 0;
}

.navBar__link {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: #fefefe;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.navBar__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
  bottom: 0;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  width: 0;
  background: #fefefe;
}

.navBar__link:hover {
  opacity: 0.6;
}

.navBar__link:hover:after {
  width: 100%;
}

.navBar__link.active:after {
  width: 100%;
  opacity: 1 !important;
}

.main {
  padding-top: 58px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.main:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  background: -o-linear-gradient(275.12deg, #0a1e39 0.69%, #020c1c 14.08%, #061b3c 95.89%);
  background: linear-gradient(174.88deg, #0a1e39 0.69%, #020c1c 14.08%, #061b3c 95.89%);
}

.main__title {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 90.6765px;
  line-height: 120px;
  text-align: center;
  color: #f8f8f8;
  margin-bottom: 130px;
}

.main__title:last-child {
  margin-bottom: 0;
}

.main__section {
  margin-bottom: 70px;
}

.main__section:last-child {
  margin-bottom: 0;
}

.block .blockTitle,
.block .blockFullImage,
.block .blockText,
.block .blockDescList {
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#061328), to(#04132c));
  background: -o-linear-gradient(top, #061328 0%, #04132c 100%);
  background: linear-gradient(180deg, #061328 0%, #04132c 100%);
}

.block > .blockTitle,
.block > .blockFullImage,
.block > .blockText,
.block > .blockRow,
.block > .blockGameList,
.block > .blockDescList {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block > .blockTitle:first-child,
.block > .blockFullImage:first-child,
.block > .blockText:first-child,
.block > .blockRow:first-child,
.block > .blockGameList:first-child,
.block > .blockDescList:first-child {
  margin-top: 0;
}

.block > .blockTitle:last-child,
.block > .blockFullImage:last-child,
.block > .blockText:last-child,
.block > .blockRow:last-child,
.block > .blockGameList:last-child,
.block > .blockDescList:last-child {
  margin-bottom: 0;
}

.blockTitle {
  display: block;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-transform: uppercase;
  color: #f8f8f8;
  text-align: center;
  position: relative;
  padding: 50px 40px 30px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.blockTitle.blockTitle--left {
  text-align: start;
}

.blockTitle.blockTitle--right {
  text-align: end;
}

.blockTitle.blockTitle--right .arrow {
  -webkit-transform: scaleX(-100%);
  -ms-transform: scaleX(-100%);
  transform: scaleX(-100%);
  margin-left: 0;
  margin-right: 30px;
}

.blockTitle:before {
  content: "";
  display: block;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 30px;
  height: 1px;
  background: #f8f8f8;
}

.blockTitle .arrow {
  display: inline;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../img/arrBotRight.svg") center/cover no-repeat;
  margin-left: 0px;
}

.blockFullImage {
  padding: 42px 85px 50px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.blockFullImage__img {
  width: 100%;
}

.blockFullImage__img img {
  width: 100%;
  max-height: 540px;
  -o-object-fit: cover;
  object-fit: cover;
}

.blockText {
  padding: 30px 40px;
}

.blockText .txt22x33 {
  padding-left: 20px;
  border-left: 1px solid #f8f8f8;
}

.blockGameList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.blockGameList__item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 25, 50, 0.5)), to(rgba(5, 24, 59, 0.5)));
  background: -o-linear-gradient(top, rgba(10, 25, 50, 0.5) 0%, rgba(5, 24, 59, 0.5) 100%);
  background: linear-gradient(180deg, rgba(10, 25, 50, 0.5) 0%, rgba(5, 24, 59, 0.5) 100%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 25%;
  width: calc(25% - 7.5px);
  height: 309px;
  padding-top: 25px;
  margin-bottom: 10px;
}

.blockGameList__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.blockGameList__link {
  max-width: 192px;
  display: block;
  margin: auto;
}

.blockGameList__btn {
  width: 100%;
  margin-bottom: 10px;
}

.blockGameList__img {
  width: 100%;
}

.blockGameList__img img {
  max-width: 100%;
}

.blockDescList {
  padding: 40px;
}

.blockDescList__item {
  margin-bottom: 60px;
  position: relative;
}

.blockDescList__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  height: 1px;
  background: #f8f8f8;
}

.blockDescList__item:last-child {
  margin-bottom: 0;
}

.blockDescList__item:last-child:after {
  display: none;
}

.blockDescList__name {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1em;
  display: block;
  color: #65ff72;
  padding-left: 20px;
  border-left: 1px solid #f8f8f8;
  margin-bottom: 34px;
}

.blockDescList__name:last-child {
  margin-bottom: 0;
}

.blockDescList__name:before {
  content: "<";
  color: #f8f8f8;
}

.blockDescList__name:after {
  content: ">";
  color: #f8f8f8;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 20;
}

.footer::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(1, 17, 50, 0.5)), to(rgba(1, 17, 50, 0.5))), -webkit-gradient(linear, left top, left bottom, color-stop(-3.19%, #abc0e2), color-stop(5.51%, #3e4a5d), color-stop(20.74%, #3c485a), color-stop(28.36%, #384456), color-stop(53.38%, #2b3646), color-stop(84.94%, #2b3646), color-stop(104.52%, #3c495b));
  background: -o-linear-gradient(bottom, rgba(1, 17, 50, 0.5), rgba(1, 17, 50, 0.5)), -o-linear-gradient(top, #abc0e2 -3.19%, #3e4a5d 5.51%, #3c485a 20.74%, #384456 28.36%, #2b3646 53.38%, #2b3646 84.94%, #3c495b 104.52%);
  background: linear-gradient(0deg, rgba(1, 17, 50, 0.5), rgba(1, 17, 50, 0.5)), linear-gradient(180deg, #abc0e2 -3.19%, #3e4a5d 5.51%, #3c485a 20.74%, #384456 28.36%, #2b3646 53.38%, #2b3646 84.94%, #3c495b 104.52%);
}

.footer__wrapper {
  padding-top: 22px;
  padding-bottom: 20px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.footer__links:last-child {
  margin-bottom: 0;
}

.footer__linksItem {
  margin-right: 30px;
}

.footer__linksItem:last-child {
  margin-right: 0;
}

.footer__link {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.footer__right {
  text-align: center;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1em;
  color: #999999;
}

.popup {
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup:not(.active) {
  -webkit-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

.popup .footer {
  padding-left: 20px;
  padding-right: 20px;
}

.popup .footer .btnBonus {
  margin: auto;
}

.popup__item {
  max-width: 444px;
  width: 100%;
  width: calc(100% - 44px);
  margin: auto;
  padding: 80px 75px 35px;
  background: url("../img/bgModal.png") center/100% 100% no-repeat;
  border-radius: 10px;
  position: relative;
  z-index: 2001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup__close {
  position: absolute;
  top: 34px;
  right: 34px;
  width: 20px;
  height: 20px;
  display: block;
  background: url("../img/close.png") center/contain no-repeat;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.popup__close:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.popup__text {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #c7d0da;
  margin-bottom: 80px;
  text-align: center;
}

.popup__btn {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #c7d0da;
  padding: 15px;
  text-align: center;
  border: 1px solid #80ff00;
  background: transparent;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  margin-bottom: 20px;
}

.popup__btn:last-child {
  margin-bottom: 0;
}

.popup__btn:hover {
  background: #0aff59;
  color: #292e36;
}

.popup__btn:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.popup__btn--green {
  background: #0aff59;
  color: #292e36;
}

.popup__btn--green:hover {
  background: transparent;
  color: #c7d0da;
}

.popup__btn--green:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.btnBonus {
  max-width: 444px;
  width: 100%;
  display: block;
  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.btnBonus img {
  max-width: 100%;
}

.btnBonus:hover {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}

.btnBonus:active {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

/* ================================================= */

/* ================================================= */

@media screen and (min-width: 992px) {
  .header__btn {
    display: none;
  }

  .blockRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blockRow .blockText {
    margin-left: 10px;
    margin-right: 10px;
  }

  .blockRow .blockText:first-child {
    margin-left: 0;
  }

  .blockRow .blockText:last-child {
    margin-right: 0;
  }

  .blockRow .blockFullImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .blockRow .blockFullImage__img {
    width: auto;
  }

  .blockRow .blockFullImage__img img {
    width: auto;
    max-width: 100%;
  }

  .blockRow .blockText {
    max-width: 506px;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 1340px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .header__cnt {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
  }

  .header__nav {
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__nav .navBar__item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header:not(.active) .header__cnt {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
  }

  .blockRow > .blockTitle,
  .blockRow > .blockFullImage,
  .blockRow > .blockText,
  .blockRow > .blockRow,
  .blockRow > .blockGameList,
  .blockRow > .blockDescList {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blockRow > .blockTitle:first-child,
  .blockRow > .blockFullImage:first-child,
  .blockRow > .blockText:first-child,
  .blockRow > .blockRow:first-child,
  .blockRow > .blockGameList:first-child,
  .blockRow > .blockDescList:first-child {
    margin-top: 0;
  }

  .blockRow > .blockTitle:last-child,
  .blockRow > .blockFullImage:last-child,
  .blockRow > .blockText:last-child,
  .blockRow > .blockRow:last-child,
  .blockRow > .blockGameList:last-child,
  .blockRow > .blockDescList:last-child {
    margin-bottom: 0;
  }

  .main__title {
    line-height: 1.3em;
    font-size: 60px;
    margin-bottom: 65px;
  }

  .blockGameList__item {
    width: 33%;
    width: calc(33.33% - 6.6px);
  }

  .blockGameList__item:last-child {
    margin-left: 10px;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .popup__item {
    padding-left: 40px;
    padding-right: 40px;
  }

  .blockGameList__item {
    width: 50%;
    width: calc(50% - 5px);
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    padding-bottom: 20px;
  }

  .blockGameList__item:last-child {
    margin: 0;
  }

  .blockGameList__item:nth-last-child(-n+4) {
    margin-bottom: 10px;
  }

  .blockGameList__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .blockGameList__link {
    width: 100%;
  }

  .footer__links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__linksItem {
    margin-bottom: 10px;
  }

  .blockTitle {
    font-size: 26px;
  }

  .blockTitle .arrow {
    width: 20px;
    height: 20px;
  }

  .txt22x33 {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .main__title {
    font-size: 46px;
  }

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .blockFullImage {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .blockTitle {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
  }

  .blockTitle:before {
    left: 20px;
    right: 20px;
  }

  .blockText {
    padding-left: 20px;
    padding-right: 20px;
  }

  .blockText .txt22x33 {
    padding-left: 10px;
  }

  .main__section {
    margin-bottom: 40px;
  }

  .blockGameList__item {
    width: 100%;
    margin-bottom: 10px !important;
  }

  .blockGameList__item:last-child {
    margin-bottom: 0 !important;
  }

  .blockDescList {
    padding-left: 10px;
    padding-right: 10px;
  }

  .blockDescList__name {
    font-size: 18px;
  }
}